@using PortfolioWebsite.Component
@using Models
@page "/"
<PageTitle>Home</PageTitle>
<div class="homeContainer">
    <div class="introContainer">
        <div class="introTextContainer">
            <h2>Hi, I am Sebastian</h2>
            <h4>Developer</h4>
            <p>I am passionate about coding and solving problems. I am passionate about coding and solving problems.</p>
            <button>Resumé</button>
        </div>
        <img src="Images/sebastian.png" />
    </div>
    <h2 class="recentProjectsHeader">Recent Projects</h2>
    <div class="recentProjectsContainer">
        @for (int i = 0; i < projects.allProjects.Count; i++)
        {
            Project currentProject = projects.allProjects[i];
            <PortfolioProject Name="@currentProject.Name" ImagePath = "@currentProject.ImagePath" Description = "@currentProject.Description" LinkToProject = "@currentProject.LinkToProject" RepoLink = "@currentProject.RepoLink"></PortfolioProject>
        }
    </div>
</div>

@code {
    AllProjects projects = new AllProjects();
}


